Repository dgraph-io/dgraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manishrjain, @vvbalaji-dgraph, @martinmr, @gitlw, @danielmai, @MichaelJCompton, @pawanrawal

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.
* @manishrjain @vvbalaji-dgraph
/posting/ @manishrjain @martinmr
/ee/acl/ @manishrjain @gitlw
/wiki/ @danielmai @MichaelJCompton
/contrib/config/ @danielmai
/query/ @pawanrawal
/graphql/ @pawanrawal @MichaelJCompton

fixed a test
  graphql/admin/schema.go
Owners: @pawanrawal, @MichaelJCompton

type cast hmac secret
  edgraph/access_ee.go
Owners: @manishrjain, @vvbalaji-dgraph

fixes some tests
  graphql/admin/backup.go
  graphql/admin/config.go
  graphql/admin/draining.go
  graphql/admin/export.go
  graphql/admin/login.go
  graphql/admin/shutdown.go
Owners: @pawanrawal, @MichaelJCompton

update CHANGELOG for 1.2.4 and 20.03.2
  CHANGELOG.md
Owners: @manishrjain, @vvbalaji-dgraph

Change auth tag in schema to Dgraph.Authorization. (#5441)
  graphql/authorization/auth.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Owners: @pawanrawal, @MichaelJCompton, @manishrjain, @vvbalaji-dgraph

type cast
  graphql/admin/current_user.go
Owners: @pawanrawal, @MichaelJCompton

route admin http requests through graphql admin server
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/run.go
  ee/acl/acl_test.go
  graphql/web/http.go
  x/x.go
Owners: @manishrjain, @vvbalaji-dgraph, @gitlw, @pawanrawal, @MichaelJCompton

Use patched badger
  go.mod
  go.sum
Owners: @manishrjain, @vvbalaji-dgraph

disable subscription
  graphql/admin/admin.go
  graphql/admin/schema.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
Owners: @pawanrawal, @MichaelJCompton

add test
  dgraph/cmd/alpha/admin.go
  ee/acl/acl_test.go
Owners: @manishrjain, @vvbalaji-dgraph, @gitlw

K-Shortest path query fix (#5410)
  query/common_test.go
  query/query3_test.go
  query/shortest.go
Owners: @pawanrawal

Add script to auto-update badger
  contrib/update-badger.sh
Owners: @manishrjain, @vvbalaji-dgraph

restructure tests
  ee/acl/acl_test.go
Owners: @manishrjain, @gitlw

final touches
  ee/acl/acl_test.go
Owners: @manishrjain, @gitlw

Fix update mutation E2E test.
  graphql/e2e/auth/update_mutation_test.go
Owners: @pawanrawal, @MichaelJCompton
