Repository dgraph-io/dgraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manishrjain, @dgraph-io/team, @martinmr, @gitlw, @danielmai, @MichaelJCompton

Update HTTP API, application/graphql -> application/graphqlpm
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/run.sh
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  systest/queries_test.go
  wiki/content/clients/index.md
  wiki/content/get-started/index.md
  wiki/content/query-language/index.md
Owners: @manishrjain, @dgraph-io/team, @danielmai, @MichaelJCompton

add group test
  systest/group-delete/group_delete_test.go
Owners: @manishrjain, @dgraph-io/team

Fix tests for ACL wrt change in HTTP API
  ee/acl/acl_curl_test.go
Owners: @manishrjain, @gitlw

Vendor in latest badger with bug fix for StreamWriter.
  vendor/github.com/dgraph-io/badger/db.go
  vendor/github.com/dgraph-io/badger/errors.go
  vendor/github.com/dgraph-io/badger/publisher.go
  vendor/github.com/dgraph-io/badger/stream_writer.go
  vendor/github.com/dgraph-io/badger/value.go
  vendor/vendor.json
Owners: @manishrjain, @dgraph-io/team

Vendor in latest badger with bug fix for StreamWriter. (#3460)
  vendor/github.com/dgraph-io/badger/db.go
  vendor/github.com/dgraph-io/badger/errors.go
  vendor/github.com/dgraph-io/badger/publisher.go
  vendor/github.com/dgraph-io/badger/stream_writer.go
  vendor/github.com/dgraph-io/badger/value.go
  vendor/vendor.json
Owners: @manishrjain, @dgraph-io/team

Remove custom HTTP Headers, cleanup API (#3365)
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/run.sh
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  ee/acl/acl_curl_test.go
  systest/queries_test.go
  wiki/content/clients/index.md
  wiki/content/get-started/index.md
  wiki/content/howto/index.md
  wiki/content/mutations/index.md
  wiki/content/query-language/index.md
  wiki/content/tips/index.md
  x/x.go
Owners: @manishrjain, @dgraph-io/team, @gitlw, @danielmai, @MichaelJCompton

add test for group join
  systest/group-delete/group_delete_test.go
  systest/group-join/docker-compose.yml
  systest/group-join/group_join_test.go
  z/client.go
Owners: @manishrjain, @dgraph-io/team

Use Go cross-compilation in release.sh.
  contrib/release.sh
Owners: @manishrjain, @dgraph-io/team

trie pk encoding fix (#120)
  trie/node.go
  trie/node_test.go
Owners: @manishrjain, @dgraph-io/team

WIP integrating with Kafka
  dgraph/cmd/alpha/run.go
  systest/kafka/docker-compose.yml
Owners: @manishrjain, @dgraph-io/team

Add test for the force full backup feature. (#3456)
  ee/backup/tests/filesystem/backup_test.go
Owners: @manishrjain, @dgraph-io/team

Address review comments.
  types/conversion.go
Owners: @manishrjain, @dgraph-io/team

Addressed review comments.
  ee/backup/run.go
  ee/backup/s3_handler.go
Owners: @manishrjain, @dgraph-io/team

Fixing a bug to support using json files in the bulk loader
  dgraph/cmd/bulk/run.go
Owners: @manishrjain, @dgraph-io/team

Address more review comments.
  edgraph/server.go
  gql/parser.go
  query/aggregator.go
  query/mutation.go
  systest/cluster_test.go
  worker/draft.go
  worker/mutation.go
  worker/sort.go
  x/error.go
Owners: @manishrjain, @dgraph-io/team

Addressed Martin's comments
  dgraph/cmd/bulk/run.go
Owners: @manishrjain, @dgraph-io/team

Address review comments.
  ee/acl/run_ee.go
Owners: @manishrjain, @gitlw

Fixing a bug to support using json files in the bulk loader (#3464)
  dgraph/cmd/bulk/run.go
Owners: @manishrjain, @dgraph-io/team

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.
* @manishrjain @dgraph-io/team
/posting/ @manishrjain @martinmr
/ee/acl/ @manishrjain @gitlw
/wiki/ @danielmai @MichaelJCompton
/contrib/config/ @danielmai
