Repository dgraph-io/dgraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince, @MichelDiz

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.
* @akon-dey @nosql22 @skrdgraph @darkn3rd @meghalims @matthewmcneely @billprovince
/posting/ @akon-dey @skrdgraph @darkn3rd
/ee/ @akon-dey @skrdgraph @darkn3rd
/contrib/ @skrdgraph @darkn3rd
/query/ @akon-dey @skrdgraph @darkn3rd
/graphql/ @akon-dey @MichelDiz @matthewmcneely

Added incremental restore tests
  systest/backup/nfs-backup/backup_test.go
  systest/backup/nfs-backup/docker-compose.yml
  systest/backup/nfs-backup/docker-utils/dgraph-nfs-client/rundgraph.sh
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

1] Added a code to support HA/Non-Ha cluster backup/restore for aws s3
  systest/backup/s3-backup/backup_test.go
  systest/backup/s3-backup/docker-compose.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix(probe): do not contend for lock in lazy load (#8037) (#8041)
  graphql/admin/admin.go
Owners: @akon-dey, @MichelDiz, @matthewmcneely

fix: fixing graphql schema update when the data is restored + skipping /probe/graphql from audit (#7925)
  ee/audit/interceptor_ee.go
  graphql/admin/admin.go
  graphql/admin/schema.go
  worker/graphql_schema.go
  worker/online_restore.go
Owners: @akon-dey, @skrdgraph, @darkn3rd, @MichelDiz, @matthewmcneely, @nosql22, @meghalims, @billprovince

fix(probe): do not contend for lock in lazy load (#8037) (#8041)
  graphql/admin/admin.go
Owners: @akon-dey, @MichelDiz, @matthewmcneely

fix: fixing graphql schema update when the data is restored + skipping /probe/graphql from audit (#7925)
  ee/audit/interceptor_ee.go
  graphql/admin/admin.go
  graphql/admin/schema.go
  worker/graphql_schema.go
  worker/online_restore.go
Owners: @akon-dey, @skrdgraph, @darkn3rd, @MichelDiz, @matthewmcneely, @nosql22, @meghalims, @billprovince

adds arm job
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Changes for build constraints, formating, test error and validation checks.
  edgraph/access_ee.go
  edgraph/access_ee_test.go
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

chore(tests): Unit test for edgraph/validateToken () (#8470)
  edgraph/access_ee.go
  edgraph/access_ee_test.go
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix arm
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix yaml
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

bump badger version
  go.mod
  go.sum
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix cd steps
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix(arm64): bump badger version (#8543)
  go.mod
  go.sum
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix(cd): adds arm job (#8520)
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update cd-dgraph.yml
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update cd-dgraph.yml
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Rename dgraph binary before tar command
  .github/workflows/cd-dgraph.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

Update CHANGELOG.md
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

chore(doc): Update CHANGELOG.md for 22.0.2 release (#8545)
  CHANGELOG.md
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

remove arch from dgraph version
  dgraph/Makefile
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

chore(ci): remove arch from ldflag (#8546)
  dgraph/Makefile
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

chore(ci): remove arch from ldflag (#8546)
  dgraph/Makefile
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

chore(ci): remove arch from ldflag (#8546) (#8548)
  dgraph/Makefile
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

reduce cron runs for self-hosted runners
  .github/workflows/ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-load-tests.yml
  .github/workflows/ci-dgraph-tests-arm64.yml
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix cron times
  .github/workflows/ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-load-tests.yml
  .github/workflows/ci-dgraph-tests-arm64.yml
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince

fix(ci): reduce cron runs for self-hosted runners (#8549)
  .github/workflows/ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-load-tests.yml
  .github/workflows/ci-dgraph-tests-arm64.yml
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @meghalims, @matthewmcneely, @billprovince
