Repository dgraph-io/dgraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akon-dey, @nosql22, @skrdgraph, @darkn3rd, @MichelDiz, @matthewmcneely

comma separated list
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22

porting test harness changes from 21.12 to new main
  t/t.go
Owners: @akon-dey, @nosql22

test exit 0 when no packages are available & ignore log outputs
  t/.gitignore
  t/t.go
Owners: @akon-dey, @nosql22

fix(GraphQL): Nested Auth Rules not working properly. (#7915) --- Dilip: Merge conflicts commited ---
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Owners: @akon-dey, @MichelDiz, @matthewmcneely

cherry-pick-7609
  posting/list.go
  posting/list_test.go
Owners: @akon-dey

adds node stuff
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22

revert skip tests
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22

commited after running package tests
  graphql/resolve/query_test.yaml
Owners: @akon-dey, @MichelDiz, @matthewmcneely

fix production version in readme
  README.md
Owners: @akon-dey, @nosql22

skip all tests, and open one at a time
  .github/workflows/ci-dgraph-tests.yml
Owners: @akon-dey, @nosql22

removed stale code coverage badge from README.md.
  README.md
Owners: @akon-dey, @nosql22

update lll line length to 120
  .golangci.yml
Owners: @akon-dey, @nosql22

adhere to en-us
  .github/issue_template/bug_report.md
Owners: @akon-dey, @nosql22

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.
* @akon-dey @nosql22
/posting/ @akon-dey
/ee/ @akon-dey
/contrib/ @skrdgraph @darkn3rd
/query/ @akon-dey
/graphql/ @akon-dey @MichelDiz @matthewmcneely
