Repository dgraph-io/dgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: area/graphql, area/documentation, area/bulk-loader, area/live-loader, area/querylang, area/integrations, area/testing/jepsen, area/commercial, area/schema

refactor a bit
  graphql/schema/gqlschema.go
  graphql/schema/remote.go
Labels: area/graphql

rpc: Broadcast Extrinsics that are submitted via RPC #812 (#831)
  dot/core/service.go
  dot/rpc/modules/api.go
  dot/rpc/modules/author.go
  dot/rpc/modules/author_test.go
Labels: none

docs: Fix broken link for versioned page.
  wiki/content/deploy/index.md
Labels: area/documentation

docs: Fix broken link for versioned page. (#5367)
  wiki/content/deploy/index.md
Labels: area/documentation

lib/runtime: add apply_extrinsic tests for AuthoritiesChange, IncludeData (#840)
  lib/runtime/helpers_test.go
Labels: none

added comments from review
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

fix typo
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

graphql: ensure upserts don't have accidental edge removal (#5356)
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

graphql: ensure upserts don't have accidental edge removal (#5356)
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

bump some test numbers after merge
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

fix test
  graphql/e2e/auth/schema.graphql
Labels: area/graphql

readability refactor
  graphql/schema/remote.go
Labels: area/graphql

remove alias from Dgraph queries
  graphql/resolve/mutation.go
  graphql/resolve/mutation_query_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/resolver_error_test.yaml
  graphql/resolve/resolver_test.go
Labels: area/graphql

alias is done in completeObject
  graphql/resolve/resolver.go
Labels: area/graphql

fix admin
  graphql/admin/schema.go
Labels: area/graphql

e2e tests for alias
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
Labels: area/graphql

graphql: more testing around additional deletes and auth (#5357)
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_update_test.yaml
Labels: area/graphql

Setup unit tests for testing the generated graphql query and also introduce a skipIntrospection argument inside the custom directive.
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

Add a TODO and update writer_test.go
  posting/index.go
  posting/writer_test.go
Labels: none

add an admin alias test
  graphql/e2e/common/admin.go
  graphql/e2e/common/common.go
Labels: area/graphql

Address comments.
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/sample_private_key.pem
  graphql/e2e/auth/sample_public_key.pem
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/schema_rsa.graphql
  graphql/resolve/auth_test.go
  testutil/graphql.go
Labels: area/graphql

Fix CI comments.
  graphql/authorization/auth.go
Labels: area/graphql

Add another unit test for testing remote mutations.
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/rules.go
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

Add another test case but it doesn't test much yet.
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/rules.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

Fix some unit tests and update the schema for some of the e2e tests.
  graphql/e2e/custom_logic/schemas/batch-mode-graphql.graphql
  graphql/e2e/custom_logic/schemas/mixed-modes.graphql
  graphql/e2e/custom_logic/schemas/single-mode-graphql.graphql
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

Add the variable definition to queries which are part of e2e test.
  graphql/e2e/custom_logic/custom_logic_test.go
Labels: area/graphql

don't allow custom fields in subscription (#5324)
  graphql/e2e/common/subscription.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
  graphql/subscription/poller.go
Labels: area/graphql

Add RSA algo for JWT token verification. (#5358)
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/sample_private_key.pem
  graphql/e2e/auth/sample_public_key.pem
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_test.go
  graphql/schema/schemagen.go
  testutil/graphql.go
Labels: area/graphql

All e2e tests pass
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/remote.go
Labels: area/graphql

Update schemas
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
Labels: area/graphql

Address review comments
  query/fastjson_test.go
  query/outputnode.go
  query/outputnode_test.go
Labels: none

addressing comments
  wiki/content/get-started/index.md
  wiki/content/tutorial-7/index.md
Labels: area/documentation

Minor fix
  query/outputnode.go
Labels: none

Updating version details
  wiki/README.md
Labels: none

Fix deepsource warnings
  query/outputnode.go
Labels: none

Add single threaded version to tests to emulate stream behaviour
  posting/writer_test.go
Labels: none

Remove wait groups from dingle threaded version
  posting/writer_test.go
Labels: none

Fix syntax highlighting.
  wiki/config.toml
Labels: none

Adding comment
  wiki/content/deploy/index.md
Labels: area/documentation

Adding 8th getting started tutorial to documentation site (#5340)
  wiki/config.toml
  wiki/content/get-started/index.md
  wiki/content/tutorial-7/index.md
  wiki/content/tutorial-8/_index.md
  wiki/content/tutorial-8/index.md
  wiki/content/tutorials/index.md
  wiki/static/images/tutorials/8/a-graph.jpg
  wiki/static/images/tutorials/8/b-paris.png
  wiki/static/images/tutorials/8/c-delhi.jpg
  wiki/static/images/tutorials/8/cover.jpg
  wiki/static/images/tutorials/8/d-full-graph.png
  wiki/static/images/tutorials/8/e-schema.png
  wiki/static/images/tutorials/8/f-index.png
  wiki/static/images/tutorials/8/g-near-1.png
  wiki/static/images/tutorials/8/h-near-2.png
  wiki/static/images/tutorials/8/i-near-3.png
  wiki/static/images/tutorials/8/j-near-4.png
  wiki/static/images/tutorials/8/k-near-5.png
  wiki/static/images/tutorials/8/l-float-index.png
  wiki/static/images/tutorials/8/m-final-result.png
Labels: area/documentation

.github/labeler.yml:

area/graphql:
  - graphql/**/*
area/documentation :
  - wiki/content/**/*
area/bulk-loader:
  - dgraph/cmd/bulk/**/*
area/live-loader:
  - dgraph/cmd/live/**/*
area/querylang:
  - gql/**/*
area/integrations:
  - contrib/**/*
  - .github/**/*
  - .travis/**/*
area/testing/jepsen:
  - contrib/jepsen/**/* 
area/commercial:
  - ee/**/*
area/schema:
  - schema/**/*
