Repository dgraph-io/dgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: area/graphql, area/documentation, area/bulk-loader, area/live-loader, area/querylang, area/integrations, area/testing/jepsen, area/commercial, area/schema

dot/rpc: implement RPC state storage calls (#835)
  dot/rpc/modules/api.go
  dot/rpc/modules/state.go
  dot/rpc/modules/state_test.go
Labels: none

graphql: custom logic validation improvements (#5372)
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/remote.go
  graphql/schema/rules.go
Labels: area/graphql

Fix some comments.
  graphql/resolve/resolver.go
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/wrappers.go
Labels: area/graphql

contrib: Use xgo to use Cgo in cross-compiled release builds. (#5120)
  contrib/release.sh
Labels: area/integrations

Add RSA algo for jwt verification.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/common.go
  graphql/resolve/auth_test.go
  testutil/graphql.go
Labels: area/graphql

Minor Fix.
  graphql/e2e/common/common.go
Labels: area/graphql

Fix segmentation fault in query.go
  query/query.go
Labels: none

Best effort queries do not wait for checksums to match.
  edgraph/server.go
  protos/pb.proto
  protos/pb/pb.pb.go
  query/query.go
  worker/sort.go
  worker/task.go
Labels: none

doc fixes for mTLS/TLS dgraph live, dgraph cert, curl
  wiki/content/deploy/index.md
Labels: area/documentation

Fix protobuf headers check.
  protos/Makefile
  protos/depcheck.sh
Labels: none

EE license fixes.
  dgraph/cmd/zero/license.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
Labels: none

minor
  dgraph/cmd/zero/raft.go
Labels: none

review
  dgraph/cmd/zero/raft.go
Labels: none

EE license fixes. (#5383)
  dgraph/cmd/zero/license.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
Labels: none

EE license fixes. (#5383)
  dgraph/cmd/zero/license.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
Labels: none

Add validation rules for @auth.
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

Fix failing test.
  graphql/schema/testdata/schemagen/input/authorization.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
Labels: area/graphql

update typos, wording in deploy tls docs
  wiki/content/deploy/index.md
Labels: area/documentation

.github/labeler.yml:

area/graphql:
  - graphql/**/*
area/documentation :
  - wiki/content/**/*
area/bulk-loader:
  - dgraph/cmd/bulk/**/*
area/live-loader:
  - dgraph/cmd/live/**/*
area/querylang:
  - gql/**/*
area/integrations:
  - contrib/**/*
  - .github/**/*
  - .travis/**/*
area/testing/jepsen:
  - contrib/jepsen/**/* 
area/commercial:
  - ee/**/*
area/schema:
  - schema/**/*
