Repository dgraph-io/dgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: area/graphql, area/documentation, area/bulk-loader, area/live-loader, area/querylang, area/integrations, area/testing/jepsen, area/commercial, area/schema, area/testing

.github/labeler.yml:

area/graphql:
  - graphql/**/*
  - wiki/content/graphql/**/*
area/documentation :
  - wiki/content/**/*
area/bulk-loader:
  - dgraph/cmd/bulk/**/*
area/live-loader:
  - dgraph/cmd/live/**/*
area/querylang:
  - gql/**/*
area/integrations:
  - contrib/**/*
  - .github/**/*
  - .travis/**/*
area/testing/jepsen:
  - contrib/jepsen/**/* 
area/commercial:
  - ee/**/*
  - wiki/content/enterprise-features/**/*
area/schema:
  - schema/**/*
area/testing:
  - systest/**/*

opt(schema): Optimize populateSchema() (#8068) (#8071) (#8565)
  worker/schema.go
Labels: none

fix(task): make /admin{export, backup} endpoints async
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  go.mod
  go.sum
  graphql/admin/admin.go
  graphql/admin/export.go
  graphql/e2e/schema/schema_test.go
  systest/export/export_test.go
  worker/export_test.go
Labels: area/graphql, area/testing

fix(backup): make drop data namespace aware
  edgraph/access.go
  edgraph/access_ee.go
  edgraph/server.go
  posting/index.go
  posting/oracle.go
  systest/backup/multi-tenancy/backup_test.go
  worker/backup_ee.go
  worker/cdc_ee.go
  worker/draft.go
  worker/restore_map.go
Labels: area/testing

Removed unwanted empty lines and added new code to create S3 bucket
  systest/backup/nfs-backup/backup_test.go
  systest/backup/s3-backup/backup_test.go
  systest/backup/s3-backup/healthCheck.sh
  systest/backup/s3-backup/test.sh
Labels: area/testing

Updated py-action version from @3 to @4 also specified detailed sub version.
  .github/workflows/ci-dgraph-tests-arm64.yml
Labels: area/integrations

Added aws-sam configration and required S3 keys in workflow yml files
  .github/workflows/ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-tests-arm64.yml
  .github/workflows/ci-dgraph-tests.yml
Labels: area/integrations

Resolved review comments
  systest/backup/s3-backup/backup_test.go
  systest/backup/s3-backup/docker-compose.yml
Labels: area/testing

Resolved review comments
  tlstest/mtls_internal/tls/alpha1/node.crt
  tlstest/mtls_internal/tls/alpha1/node.key
  tlstest/mtls_internal/tls/alpha2/node.crt
  tlstest/mtls_internal/tls/alpha2/node.key
  tlstest/mtls_internal/tls/alpha3/node.crt
  tlstest/mtls_internal/tls/alpha3/node.key
  tlstest/mtls_internal/tls/alpha4/node.crt
  tlstest/mtls_internal/tls/alpha4/node.key
  tlstest/mtls_internal/tls/alpha5/node.crt
  tlstest/mtls_internal/tls/alpha5/node.key
  tlstest/mtls_internal/tls/alpha6/node.crt
  tlstest/mtls_internal/tls/alpha6/node.key
  tlstest/mtls_internal/tls/live/client.liveclient.crt
  tlstest/mtls_internal/tls/live/client.liveclient.key
  tlstest/mtls_internal/tls/zero1/node.crt
  tlstest/mtls_internal/tls/zero1/node.key
  tlstest/mtls_internal/tls/zero2/node.crt
  tlstest/mtls_internal/tls/zero2/node.key
  tlstest/mtls_internal/tls/zero3/node.crt
  tlstest/mtls_internal/tls/zero3/node.key
Labels: none

Removed client.cnf
  tlstest/mtls_internal/tls/live/client.cnf
Labels: none

Resolved review comments
  contrib/Dockerfile
Labels: area/integrations

fix(zero): fix update membership to make bulk tablet proposal instead of multiple small (#8090) (#8573)
  dgraph/cmd/zero/zero.go
Labels: none

fix(GraphQL): Nested Auth Rules not working properly. (#7915) (#8084) (#8571)
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

adjust cron schedules
  .github/workflows/ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-ldbc-tests.yml
  .github/workflows/ci-dgraph-load-tests.yml
  .github/workflows/ci-dgraph-tests-arm64.yml
  .github/workflows/ci-dgraph-tests.yml
Labels: area/integrations

Update ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-code-coverage.yml
Labels: area/integrations

fix(ci): adjust cron schedules (#8592)
  .github/workflows/ci-dgraph-code-coverage.yml
  .github/workflows/ci-dgraph-ldbc-tests.yml
  .github/workflows/ci-dgraph-load-tests.yml
  .github/workflows/ci-dgraph-tests-arm64.yml
  .github/workflows/ci-dgraph-tests.yml
Labels: area/integrations

chore: Unit test coverage lex/iri.go,chunker/chunk.go
  chunker/chunk_test.go
Labels: none

Resolved review comments
  chunker/chunk_test.go
  chunker/data.rdf
Labels: none

chore: Unit test coverage lex/iri.go,chunker/chunk.go Added missing files for previous commit
  lex/iri_test.go
  x/file_test.go
Labels: none

Resolved review comments
  chunker/chunk_test.go
  lex/iri_test.go
  x/file_test.go
Labels: none

Resolved review comments
  chunker/chunk_test.go
  x/file_test.go
Labels: none

Removed unwanted empty lines
  chunker/chunk_test.go
Labels: none

Resolved review comments
  lex/iri_test.go
Labels: none

BREAKING: fix json marshal unmarshal for namespace > 127 (#7810)
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/upsert_test.go
  dgraph/cmd/zero/oracle.go
  edgraph/server.go
  posting/index.go
  posting/list_test.go
  worker/groups.go
  x/keys.go
  x/keys_test.go
Labels: none

add update_manifest tool (#7815)
  dgraph/cmd/root.go
  dgraph/cmd/root_ee.go
  ee/updatemanifest/run.go
  worker/backup_ee.go
  worker/backup_manifest.go
Labels: area/commercial

fix(backup): handle manifest version logic, update manifest version to 2105 (#7825)
  ee/updatemanifest/run.go
  systest/backup/filesystem/backup_test.go
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g3.backup
  systest/backup/filesystem/data/to_restore/3/manifest.json
  worker/backup.go
  worker/backup_ee.go
  worker/backup_manifest.go
  worker/online_restore.go
  worker/restore_map.go
  x/x.go
Labels: area/commercial, area/testing

fix(updatemanifest): update the version of manifest after update (#7828)
  ee/updatemanifest/run.go
Labels: area/commercial

fix(restore): update the schema and type from 2103 (#7838)
  ee/updatemanifest/run.go
  worker/backup_manifest.go
  worker/restore_map.go
  x/keys.go
Labels: area/commercial

fix(state): fix hex to uint64 response of list of namespaces (#8091)
  graphql/admin/state.go
  x/keys.go
Labels: area/graphql

Resolved review comments
  lex/iri_test.go
Labels: none

Collect coverage from bulk upload
  .github/workflows/ci-dgraph-code-coverage.yml
  systest/ldbc/docker-compose.yml
  systest/ldbc/ldbc_test.go
  testutil/bulk.go
Labels: area/integrations, area/testing

Fix failing test
  testutil/bulk.go
Labels: none

Capture bulk coverage
  systest/ldbc/ldbc_test.go
  t/t.go
  testutil/bulk.go
Labels: area/testing

Add unit tests to coverage report
  .github/workflows/ci-dgraph-code-coverage.yml
Labels: area/integrations

chore: Unit test coverage lex/iri.go,chunker/chunk.go (#8515)
  chunker/chunk_test.go
  chunker/data.rdf
  lex/iri_test.go
  x/file_test.go
Labels: none

Introduce env variables
  systest/ldbc/ldbc_test.go
  testutil/bulk.go
Labels: area/testing

chore(ci): Capture coverage from bulk load and LDBC tests (#8478)
  .github/workflows/ci-dgraph-code-coverage.yml
  systest/ldbc/docker-compose.yml
  systest/ldbc/ldbc_test.go
  t/t.go
  testutil/bulk.go
Labels: area/integrations, area/testing

update issue form
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: area/integrations

adding test file iri_test.go
  lex/iri_test.go
Labels: none

No need to pass client
  worker/s3_handler.go
Labels: none

update badger dep to master
  go.mod
  go.sum
Labels: none
