Repository dgraph-io/dgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: area/graphql, area/documentation, area/bulk-loader, area/live-loader, area/querylang, area/integrations, area/testing/jepsen, area/commercial, area/schema

Documentation for encrypted exports DGRAPH-1216 (#5344)
  wiki/content/deploy/index.md
Labels: area/documentation

Adding 8th getting started tutorial to documentation site (#5340)
  wiki/config.toml
  wiki/content/get-started/index.md
  wiki/content/tutorial-7/index.md
  wiki/content/tutorial-8/_index.md
  wiki/content/tutorial-8/index.md
  wiki/content/tutorials/index.md
  wiki/static/images/tutorials/8/a-graph.jpg
  wiki/static/images/tutorials/8/b-paris.png
  wiki/static/images/tutorials/8/c-delhi.jpg
  wiki/static/images/tutorials/8/cover.jpg
  wiki/static/images/tutorials/8/d-full-graph.png
  wiki/static/images/tutorials/8/e-schema.png
  wiki/static/images/tutorials/8/f-index.png
  wiki/static/images/tutorials/8/g-near-1.png
  wiki/static/images/tutorials/8/h-near-2.png
  wiki/static/images/tutorials/8/i-near-3.png
  wiki/static/images/tutorials/8/j-near-4.png
  wiki/static/images/tutorials/8/k-near-5.png
  wiki/static/images/tutorials/8/l-float-index.png
  wiki/static/images/tutorials/8/m-final-result.png
Labels: area/documentation

Removing Bulk Loader Encryption content to Deploy (#5345)
  wiki/content/enterprise-features/index.md
Labels: area/documentation

Documentation for encrypted exports DGRAPH-1216 (#5344)
  wiki/content/deploy/index.md
Labels: area/documentation

git cherry-pick f68cea901cda96e64fd07b8adf7ea402566d1a7d
  wiki/content/enterprise-features/index.md
Labels: area/documentation

Fixes DGRAPH-1216 cherry-pick for v20.03 (#5370)
  wiki/content/deploy/index.md
  wiki/content/enterprise-features/index.md
Labels: area/documentation

Documentation for encrypted exports DGRAPH-1216 (#5344)
  wiki/content/deploy/index.md
Labels: area/documentation

Removing Bulk Loader Encryption content to Deploy (#5345)
  wiki/content/enterprise-features/index.md
Labels: area/documentation

minor
  wiki/content/enterprise-features/index.md
Labels: area/documentation

Cherry pick to v1.2 (#5371)
  wiki/content/deploy/index.md
  wiki/content/enterprise-features/index.md
Labels: area/documentation

docs: Update Hugo config for latest Hugo version. (#5337)
  wiki/config.toml
  wiki/scripts/build.sh
Labels: none

eksclt cluster manifest update, doc updates
  contrib/config/kubernetes/dgraph-ha/README.md
  contrib/config/kubernetes/dgraph-ha/cluster.yaml
Labels: area/integrations

DGRAPH-1287 Updated example dgraph-ha.yaml for sec best practices (#5346)
  contrib/config/kubernetes/dgraph-ha/README.md
  contrib/config/kubernetes/dgraph-ha/cluster.yaml
  contrib/config/kubernetes/dgraph-ha/dgraph-ha.yaml
Labels: area/integrations

final changes
  graphql/schema/gqlschema_test.yml
  graphql/schema/remote.go
  graphql/schema/rules.go
Labels: area/graphql

fix tests
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
Labels: area/graphql

fix deepsource warnings
  graphql/schema/remote.go
  graphql/schema/rules.go
Labels: area/graphql

fix spaces
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
Labels: area/graphql

docs: Add example commands to apply enterprise license.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

Change wording.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

Remove redundant test case.
  graphql/e2e/auth/auth_test.go
Labels: area/graphql

Minor fixes
  go.mod
  posting/index.go
  posting/writer_test.go
  x/x.go
Labels: none

add another validation
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

Address review comments
  query/outputnode.go
Labels: none

Minor fix
  query/outputnode.go
Labels: none

Update badger and edit comments in test file
  go.mod
  go.sum
  posting/writer_test.go
Labels: none

Replace TxnWriter with WriteBatch (#5007)
  go.mod
  go.sum
  posting/index.go
  posting/writer_test.go
  worker/draft.go
  worker/snapshot.go
Labels: none

Fix pre existing tests in schema package
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/cmd/main.go
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

Documentation: connecting multiple Dgraph nodes to Jaeger (#5332)
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

Batch test passes but some others fail now
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/custom_logic/schemas/batch-mode-graphql.graphql
  graphql/e2e/custom_logic/schemas/mixed-modes.graphql
  graphql/resolve/resolver.go
  graphql/schema/remote.go
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

graphql: remove custom directive from internal schema (#5354)
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

phew most of the e2e tests pass
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/wrappers.go
Labels: area/graphql

Skip some tests while other pass
  graphql/e2e/custom_logic/custom_logic_test.go
Labels: area/graphql

use no body if it's GET
  graphql/resolve/resolver.go
Labels: area/graphql

Cherry pick and resolve conflict
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

Documentation: connecting multiple Dgraph nodes to Jaeger (#5374)
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

More changes in fastJsonNode (#5359)
  query/fastjson_test.go
  query/outputnode.go
  query/outputnode_test.go
Labels: none

Cherry pick and resolve conflict (#5376)
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

fixed merge conflicts
  graphql/resolve/query_rewriter.go
Labels: area/graphql

Add more validation rules.
  graphql/e2e/custom_logic/cmd/main.go
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

Documentation: connecting multiple Dgraph nodes to Jaeger (#5332)
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

.github/labeler.yml:

area/graphql:
  - graphql/**/*
area/documentation :
  - wiki/content/**/*
area/bulk-loader:
  - dgraph/cmd/bulk/**/*
area/live-loader:
  - dgraph/cmd/live/**/*
area/querylang:
  - gql/**/*
area/integrations:
  - contrib/**/*
  - .github/**/*
  - .travis/**/*
area/testing/jepsen:
  - contrib/jepsen/**/* 
area/commercial:
  - ee/**/*
area/schema:
  - schema/**/*
